{% extends "polls/base.html" %}
{% load widget_tweaks %}
{% block title %}Vote{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cast Your Vote</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>{{ poll.question }}</h2>
                        <h4>{{ poll.description }}</h4>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form method="POST">
                            {% csrf_token %}
                            {% if poll.type == "text" %}
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="text" name="answer" value="" required>
                                    </label>
                                </div>
                            </div>

                            {% elif poll.type == "select_one" %}
                            {% for option in options %}
                            <div class="form-group">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="poll" value="{{ option.id }}" required>
                                        {{ option.text }}
                                    </label>
                                </div>
                            </div>
                            {% endfor %}

                            {% else %}
                            {% for option in options %}
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="{{ option.id }}" value="{{ option.id }}">
                                        {{ option.text }}
                                    </label>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <button type="submit" class="btn btn-info">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}